<header>
  <a href="{{ routes.root_url }}" class="header_logo_link">
    {% if section.settings.logo != blank %}
      <div class="header_logo_wrapper">
        {% assign img_alt = section.settings.img_alt | default: shop.name | escape %}
        {%- assign logo_height = section.settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {{
        section.settings.logo
        | image_url: width: 600
        | image_tag:
          class: 'header__heading-logo motion-reduce',
          height: logo_height,
          width: section.settings.logo_width,
          alt: img_alt,
          preload: true
      }}
    </div>
    {% else %}
      <h2 class="header__title">
        {{ shop.name | link_to: routes.root_url }}
      </h2>
    {% endif %}
  </a>

  <div class="header__menu">
    {% if section.settings.main_menu != blank %}
      test 1
      {% if section.settings.main_menu_type == "mega-menu" %}
        test2
        {% render 'mega-menu' %}
      {% endif %}
    {% endif %}

    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "img_alt",
      "label": "Alt",
      "default":"Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo Width",
      "min": 20,
      "max": 200,
      "step": 10,
      "default":20
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "t:labels.menu"
    },
    {
      "type": "select",
      "id": "main_menu_type",
      "label": "Menu Type",
      "options": [
        {
          "label":"Mega Menu",
          "value":"mega-menu"
        },
        {
          "label":"Dropdown",
          "value":"dropdown"
        },
        {
          "label":"Drawer",
          "value":"drawer"
        },
        
      ]
    }
  ],
}
{% endschema %}
